// Sailec
@font-face {
  font-family: 'Sailec';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/sailec/SailecRegular.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/sailec/SailecRegular.woff') format('woff'),
    url('../../fonts/sailec/SailecRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sailec';
  font-weight: 500;
  font-style: normal;
  src: url('../../fonts/sailec/SailecMedium.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/sailec/SailecMedium.woff') format('woff'),
    url('../../fonts/sailec/SailecMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Sailec';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/sailec/SailecBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/sailec/SailecBold.woff') format('woff'),
    url('../../fonts/sailec/SailecBold.ttf') format('truetype');
}
